---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Section from '../components/Section.astro';
import Person  from '../components/icons/Person.astro';
import Code  from '../components/icons/Code.astro';
import Work  from '../components/icons/Work.astro';
import LinkedinIcon  from '../components/icons/LinkedinIcon.astro';
import GithubIcon  from '../components/icons/GithubIcon.astro';
import XIcon  from '../components/icons/XIcon.astro';
---

<Layout>
	<Header></Header>
	<main>
		<!-- Inicio -->
		<section class="relative heigth-100 flex items-center justify-center">
			<div class="flex items-center flex-col">
				<div class="rounded-full size-36 mb-6 flex items-center justify-center bg-[url('/bg-foto.svg')]">
					<img class="rounded-full size-36" src="/jose-manuel-montaño-saenz.png" alt="Mooenz foto">
				</div>
				<h1 class="text-gray-900 dark:text-white text-3xl md:text-4xl lg:text-5xl font-extrabold flex flex-col items-end pb-2">
					<a href="https://www.linkedin.com/in/mooenz/" target="_blank" rel="noopener noreferrer"><span class="flex text-xs font-medium px-2.5 py-0.5 rounded bg-[#f53b57] text-white">Disponible</span></a>Manuel Montaño</h1>
				<h2 class="text-gray-700 dark:text-white/80 font-semibold mb-16">Maquetador web</h2>

				<div class="flex align-center justify-center gap-4 md:gap-7">
					<a href="https://www.linkedin.com/in/mooenz/" class="size-4 md:size-6 hover:scale-125 transition" target="_blank" rel="noopener noreferrer"><LinkedinIcon /></a>
					<a href="https://github.com/Mooenz" class="size-4 md:size-6 hover:scale-125 transition" target="_blank" rel="noopener noreferrer"><GithubIcon /></a>
					<a href="https://twitter.com/MooenzDev" class="size-4 md:size-6 hover:scale-125 transition" target="_blank" rel="noopener noreferrer"><XIcon /></a>
				</div>
			</div>

			<a href="#sobreMi" class="absolute bottom-0">
				<div class="scroll">
					<span></span>
				</div>
			</a>
		</section>

		<!-- Sobre mí -->
		<Section class="py-44 pb-32" id="sobreMi">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-gray-900 dark:text-white/80">
				<Person class="size-7" />
				Sobre mí</h2>
		</Section>

		<!-- Experiencia -->
		<Section id="experiencia">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-gray-900 dark:text-white/80">
				<Work class="size-7" />
				Experiencia</h2>
		</Section>

		<!-- Proyectos -->
		<Section id="proyectos">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-gray-900 dark:text-white/80">
				<Code class="size-7" />
				Proyectos</h2>
		</Section>

	</main>
	<Footer></Footer>
</Layout>

<style>
	.heigth-100 {
		height: calc(100vh - 100px);
	}

	.scroll {
		position: relative;
		height: 40px;
		width: 30px;
		border: 2px solid #000;
		border-radius: 50px;
	}

	.scroll span {
		position: absolute;
		top: 0;
    left: 50%;
		display: block;
		height: 8px;
		width: 8px;
		aspect-ratio: 1;
		border-radius: 100%;
		background-color: #000;
		animation: ani-mouse 2s linear infinite;
		transform: translateX(-50%);
	}

	@keyframes ani-mouse {
	0% {
		top: 29%;
	}
	15% {
		top: 50%;
	}
	50% {
		top: 50%;
	}
	100% {
		top: 29%;
	}
}

@media (prefers-color-scheme: dark) {
	.scroll {
		border-color: #fff;
		}

		.scroll span {
			background-color: #fff;
		}
	}
</style>