---
// Obtenemos el año actual
const currentYear = new Date().getFullYear();
---

<footer
  class="rounded-md bg-white dark:bg-black/20 backdrop-blur-lg w-full max-w-screen-lg mx-auto mb-4"
>
  <div
    class="w-full mx-auto max-w-screen-lg p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm sm:text-center text-black dark:text-white/90"
      >🚀 © {currentYear} Mooenz. Casi todos los derechos reservados.
    </span>
  </div>
</footer>
