---

---

<header class="sticky top-0 container max-w-screen-lg mx-auto pt-4 z-10">
  <div
    class="rounded-md px-6 pr-10 flex flex-row items-center justify-between bg-white dark:bg-[#151515]/30 backdrop-blur-2xl"
  >
    <nav class="flex items-center">
      <a href="#sobreMi" class="border-b-2 border-transparent dark:hover:border-white hover:border-black  flex font-semibold rounded-sm px-6 py-3 transition">Sobre mí</a>
      <a href="#experiencia" class="border-b-2 border-transparent dark:hover:border-white hover:border-black  flex font-semibold rounded-sm px-6 py-3 transition">Experiencia</a>
      <a href="#proyectos" class="border-b-2 border-transparent dark:hover:border-white hover:border-black  flex font-semibold rounded-sm px-6 py-3 transition">Proyectos</a>
    </nav>

    <div class="col-auto">
      <button>Cambio de color</button>
    </div>
  </div>
</header>
