---
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" />
		<meta name="description" content="Soy maquetador web, y me gustaria dar ese salto a frontend developer. Me interesan tecnologías como React, Vue o Astro. Busco un lugar ameno donde me permitan desempeñarme como frontend en React o Vue.">
		<meta name="keywords" content="desarrollador, web, reactjs, nextjs, html, css, js, javascript, web developer, desarrollador web, maquetador, frontend, desarrollador frontend">
		<title>Maquetador web - Mooenz</title>
	</head>
	<body class="relative bg-black/90 text-black dark:text-white">
		<div
		class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-neutral-100 dark:bg-neutral-950
		bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(57,73,171,0.5),rgba(255,255,255,0.9))]
		dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(57,73,171,0.3),rgba(255,255,255,0))]"
	>
	</div>
		<slot />
	</body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
  }

  html {
    font-family: "Onest Variable", system-ui, sans-serif;
    scroll-behavior: smooth;
  }

  body {
    color: rgba(15, 15, 15, 0.9);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overscroll-behavior: none;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  @media (prefers-color-scheme: dark) {
    body {
      color: rgba(255, 255, 255, 0.9);
    }
  }
</style>